*{
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: url('img/check_circle_20dp_FILL0_wght400_GRAD0_opsz20.png'), auto;
}
body {
    background-image: url('https://images.unsplash.com/photo-1476842634003-7dcca8f832de?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
}
.main{
    position: absolute;
    height: 100%;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.content{
    margin-left: 200px;
}
.main:hover{
    backdrop-filter: blur(7px);
}
.head{
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.head:hover{
    backdrop-filter: blur(10px);
}
td{
    padding-left: 160px;
}
.dummy{
    width: 60px;
}
.time, .date{
    font-size: 16px
}

.mainRow > td{
    width: 80px;
}
label{
    font-size: 18px;
}
.Todo{
    display: flex;
    margin-bottom: 10px;
}
.textArea{
    margin-left: 20px;
    color: aliceblue;
    height: 50px;
    background: transparent;
    pointer-events: visible;
    border: 2px blue solid;
    width: 400px;
    resize: none;
    font-family: "Quicksand", sans-serif;
}
.submit{
    height: 50px;
    cursor: pointer;
}
.display{
    margin-left: 10px;
    color: aliceblue;
    height: 50px;
    background: transparent;
    border: 1.5px solid brown;
    width: 300px;
    resize: none;
}
.submit:checked ~ .textArea{
    text-decoration: line-through;
}
.display::before{
    content: '';
}
.submit:checked ~ .display::before{
    content: 'Congratulations';
}
.dropdown{
    margin-left: 10px;
    width: 200px;
}